html, body, h1, h2, h3, h4, h5, h6, ul, li, p {
  margin: 0;
  padding: 0;
}
body {
  font-family: Microsoft YaHei, ArialMT, PingFang SC,Helvetica Neue, Helvetica, Hiragino Sans GB, Arial, sans-serif;
  background-color: #f0f2f5;
  font-size: 14px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
